<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>Users</h2>
<br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Password</th>

    </thead>


    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"/>
        <td th:text="${user.firstname}"/>
        <td th:text="${user.lastname}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
        <td>
            <form th:method="GET" th:action="@{/admin/info/{id}(id=${user.getId()})}">
                <input type="submit" value="Info"/>
            </form>
        </td>
    </tr>
</table>

<br><br>
<form th:method="GET" th:action="@{/admin/create}">
    <input type="submit" value="Add user">
</form>
<br>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Sign Out">
</form>


</body>
</html>