<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    "
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/create}" th:object="${user}" th:method="post">

    <label for="name">Name</label>
    <input type="text" th:field="*{firstname}" id="name" placeholder="Name">
    <label for="surname">Surname</label>
    <input type="text" th:field="*{lastname}" id="surname" placeholder="Surname">
    <label for="username">username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Create user">
</form>
<br><br>
<form th:action="@{/logout}">
    <input type="submit" value="Sign Out">
</form>
</body>
</html>